{% extends 'base.html' %} {% block content%}

<h1>Home</h1>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat et possimus
  est. Adipisci, architecto repudiandae, nostrum impedit nemo aspernatur
  doloremque quia debitis, facere eligendi fugiat! Sed laborum ratione est magni
  eveniet asperiores architecto culpa, odio expedita cupiditate excepturi
  dolores. Incidunt dignissimos similique assumenda officiis in eum optio
  repellendus quod voluptates cumque fugit ipsa, laboriosam tempore maxime non
  voluptatibus deleniti laudantium, ullam ea perferendis inventore! Veniam
  incidunt deleniti voluptas quos unde sint inventore aut tempore consequatur
  debitis delectus cupiditate, distinctio id odio ab earum corporis commodi
  natus voluptatem nemo accusantium facilis voluptatum hic cum. Accusantium
  explicabo officiis in magni itaque sapiente.
</p>

{% endblock %}